<%= render partial: "shared/header" %>

<div class="content">

	<%#検索フォーム%>
	<div class="search-content">
		<figure>
			<%= image_tag "search.png", class: "search-img", alt: "検索写真" %>
			<figcaption class="decorator">
				<p>あなたの毎日に、<br>プロからのケアを。</p>
				<div class="search-form">
					<input type="text", class="search-text", placeholder="気になるサービスを入力">
					<input type="submit", value="調べる", class="search-submit">
				</div>
			</figcaption>
		</figure>
	</div>
	<%#//検索フォーム%>

	<%#事業者の方はこちら%>
	<div class="business">
		<%= link_to "#" do %>
			<span>事業者の方はこちら</span>
		<% end %>
	</div>

	<%#//事業者の方はこちら%>

</div>

