.room-header {
  min-height: 100%;
}

.room-header .room-header-main {
  line-height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #ededed;
  padding: 0 25px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 999;
  background-color: white;
}

.room-header .room-header-main a {
  display: block;
  height: 45px;
  font-size: 25px;
  color: black;
}

.room-header .room-header-main .room-header-title {
  font-size: 20px;
}

.talk-room-content {
  overflow: scroll;
  padding: 55px 10px;
  padding-bottom: 65px;
  width: 100vW;
  background-color: #efeef1;
  height: calc(100vh - 50px);
}

.talk-room-content img {
  display: block;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

.talk-room-content .talk-room-lists {
  height: 95%;
  width: 100%;
}

.talk-room-content .talk-room-lists .talk-room-list-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  margin-bottom: 10px;
}

.talk-room-content .talk-room-lists .talk-room-list-right .talk-room-list-content {
  padding-right: 10px;
  max-width: 100%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.talk-room-content .talk-room-lists .talk-room-list-right .talk-room-list-content span.talk-room-list-nickname {
  display: block;
  text-align: right;
  width: 100%;
  font-size: 10px;
  color: gray;
}

.talk-room-content .talk-room-lists .talk-room-list-right .talk-room-list-content span.talk-room-list-content {
  display: block;
  text-align: left;
  width: 100%;
  color: black;
  font-size: 12px;
  background-color: #c1ffea;
  border-radius: 10px;
  padding: 10px;
}

.talk-room-content .talk-room-lists .talk-room-list-right .talk-room-list-content span.talk-room-list-content p {
  width: 100%;
  word-break: break-all;
}

.talk-room-content .talk-room-lists .talk-room-list-right .talk-room-list-content span.talk-room-list-image {
  display: block;
  text-align: left;
  width: 100%;
  background-color: transparent;
  padding: 10px;
}

.talk-room-content .talk-room-lists .talk-room-list-right .talk-room-list-content span.talk-room-list-image img {
  display: block;
  border-radius: 0px;
  width: 250px;
  height: 300px;
}

.talk-room-content .talk-room-lists .talk-room-list-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin-bottom: 10px;
}

.talk-room-content .talk-room-lists .talk-room-list-left .talk-room-list-content {
  padding-left: 10px;
  max-width: 100%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.talk-room-content .talk-room-lists .talk-room-list-left .talk-room-list-content span.talk-room-list-nickname {
  display: block;
  text-align: left;
  width: 100%;
  font-size: 10px;
  color: gray;
}

.talk-room-content .talk-room-lists .talk-room-list-left .talk-room-list-content span.talk-room-list-content {
  display: block;
  text-align: left;
  width: 100%;
  color: black;
  font-size: 12px;
  word-wrap: break-word;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.talk-room-content .talk-room-lists .talk-room-list-left .talk-room-list-content span.talk-room-list-content p {
  width: 100%;
  word-break: break-all;
}

.talk-room-content .talk-room-lists .talk-room-list-left .talk-room-list-content span.talk-room-list-image {
  display: block;
  text-align: left;
  width: 100%;
  background-color: transparent;
  padding: 10px;
}

.talk-room-content .talk-room-lists .talk-room-list-left .talk-room-list-content span.talk-room-list-image img {
  display: block;
  border-radius: 0px;
  width: 250px;
  height: 300px;
}

.talk-room-form {
  position: fixed;
  bottom: 0px;
  left: 0px;
  margin-top: auto;
  background-color: #ececec;
  width: 100%;
  height: 50px;
}

.talk-room-form .new_message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.talk-room-form .new_message textarea {
  border: 1px solid #cecece;
  background-color: white;
  border-radius: 5px;
  width: 80%;
  line-height: 20px;
}

.talk-room-form .new_message .submit {
  background-color: cornsilk;
  padding: 5px;
  border-radius: 10px;
}

.talk-room-form input.hidden {
  display: none;
}

.talk-room-form label {
  font-size: 20px;
  padding: 10px;
}
/*# sourceMappingURL=show.css.map */