// ヘッダー
.room-header{
  min-height: 100%;

  .room-header-main{
    line-height: 45px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ededed;
    padding: 0 25px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 999;
    background-color: white;
    
    a{
      display: block;
      height: 45px;
      font-size: 25px;
      color: black;
    }
    
    .room-back-to-home{
    }
  
    .room-header-title{
      font-size: 20px;
    }
  } 

}

// トーク画面
.talk-room-content{
  overflow: scroll;
  padding: 55px 10px;
  padding-bottom: 50px;
  width: 100vW;
  background-color: #efeef1;
  height: calc(100vh - 50px);
  
  img{
    display: block;
    border-radius: 100%;
    width: 30px;
    height: 30px;
  }
  
  .talk-room-lists{
    height: 95%;
    width: 100%;
    
    // トーク（ユーザー側：右側）
    .talk-room-list-right{
      display: flex;
      justify-content: flex-end;
      width: 100%;
      margin-bottom: 10px;
      
      
      .talk-room-list-content{
        padding-right: 10px;
        max-width: 100%;
        text-align: left;
        display: flex;
        flex-direction: column;
        
        span.talk-room-list-nickname{
          display: block;
          text-align: right;
          width: 100%;
          font-size: 10px;
          color: gray;
        }
        
        span.talk-room-list-content{
          display: block;
          text-align: left;
          width: 100%;
          color: black;
          font-size: 12px;
          background-color: #c1ffea;
          border-radius: 10px;
          padding: 10px;
          
          p{
            width: 100%;
            word-break: break-all
          }
        }
        
        span.talk-room-list-image{
          display: block;
          text-align: left;
          width: 100%;
          background-color: transparent;
          padding: 10px;
          
          img{
            display: block;
            border-radius: 0px;
            width: 250px;
            height: 300px;
          }
        }
      }
    }
    
    // トーク（相手側：左側）
    .talk-room-list-left{
      display: flex;
      justify-content: flex-start;
      width: 100%;
      margin-bottom: 10px;
      
      
      .talk-room-list-content{
        padding-left: 10px;
        max-width: 100%;
        text-align: left;
        display: flex;
        flex-direction: column;
        
        
        span.talk-room-list-nickname{
          display: block;
          text-align: left;
          width: 100%;
          font-size: 10px;
          color: gray; 
        }
        
        span.talk-room-list-content{
          display: block;
          text-align: left;
          width: 100%;
          color: black;
          font-size: 12px;
          word-wrap: break-word;
          background-color: white;
          border-radius: 10px;
          padding: 10px;
          
          p{
            width: 100%;
            word-break: break-all
          }
        }
        
        span.talk-room-list-image{
          display: block;
          text-align: left;
          width: 100%;
          background-color: transparent;
          padding: 10px;
          
          img{
            display: block;
            border-radius: 0px;
            width: 250px;
            height: 300px;
          }
        }
      }
    }
  }
}


// 投稿フォーム
.talk-room-form{
  position: fixed;
  bottom: 0px;
  left: 0px;
  margin-top: auto;
  background-color: #ececec;
  width: 100%;
  height: 50px;

  .new_message{
    display: flex;
    align-items: center;
    justify-content: space-around;

    textarea{
      border: 1px solid #cecece;
      background-color: white;
      border-radius: 5px;
      width: 80%;
      line-height: 20px;
    }

    .submit{
      background-color: cornsilk;
      padding: 5px;
      border-radius: 10px;
    }
  }
  input.hidden{
    display: none;
  }
  
  label{
    font-size: 20px;
    padding: 10px;
  }
}
