// ヘッダー
.room-header{

  .room-header-main{
    line-height: 45px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ededed;
    padding: 0 25px;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: white;
    
    a{
      display: block;
      height: 45px;
      font-size: 25px;
      color: black;
    }
    
    .room-back-to-home{
    }
  
    .room-header-title{
      font-size: 20px;
    }
  } 

}

// トーク画面
.talk-room-content{
  // ヘッダーをposition:fixedにしてもレイアウトが崩れないように調整
  padding-top: 45px;
  height: calc(100vh - 100px);
  overflow: scroll;
  padding: 45px 10px;
  padding-bottom: 0px;
  
  img{
    display: block;
    border-radius: 100%;
    width: 30px;
    height: 30px;
  }

  .talk-room-lists{
    height: 100%;

    .talk-room-list-right{
      display: flex;
      justify-content: flex-end;
      margin: 10px;


      .talk-room-list-content{
        padding-right: 10px;
        max-width: 60%;
        text-align: right;
        
        span{
          display: block;
          text-align: left;
          width: 100%;
          
          &:nth-child(1){
            font-size: 10px;
            color: gray;
            text-align: right;
          }
          
          &:nth-child(2){
            color: black;
            font-size: 12px;
            word-wrap: break-word;
            background-color: aquamarine;
            border-radius: 25px;
            padding: 10px;
          }
        }
      }
    }
    
    .talk-room-list-left{
      display: flex;
      margin-top: 10px;
      
      
      .talk-room-list-content{
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        
        span{
          display: block;
          
          &:nth-child(1){
            font-size: 10px;
            color: gray;
          }
          
          &:nth-child(2){
            color: black;
            font-size: 12px;
            background-color: #f3f1f1;
            border-radius: 25px;
            padding: 10px;
          }
        }
      }
    }
  }
}

.talk-room-form{
  background-color: red;
  height: 100px;
}