.gh-index-content {
  padding: 0 20px;
}

.gh-index-content .gh-index-title p {
  text-align: center;
}

.gh-index-content .gh-index-title p:nth-child(1) {
  padding: 10px;
  -webkit-box-shadow: 2px 9px 3px -3px rgba(24, 211, 22, 0.4);
  margin: 0 15%;
  margin-bottom: 15px;
}

.gh-index-content .gh-index-title p:nth-child(2), .gh-index-content .gh-index-title p:nth-child(3) {
  font-size: 12px;
  color: blue;
}

.gh-index-content .gh-search-forms {
  margin-top: 20px;
}

.gh-index-content .gh-search-forms .gh-search-form {
  margin-bottom: 10px;
  background-color: rgba(197, 207, 243, 0.3);
  border-radius: 10px;
  padding: 10px 10px;
}

.gh-index-content .gh-search-forms .gh-search-form .gh-search-form-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gh-index-content .gh-search-forms .gh-search-form .gh-search-form-1 span {
  display: block;
  margin-left: 10px;
  background-color: red;
  color: white;
  border-radius: 5px;
  font-size: 10px;
  padding: 2px;
}

.gh-index-content .gh-search-forms .gh-search-form .gh-search-form-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gh-index-content .gh-search-forms .gh-search-form .gh-search-form-2 input {
  border: 1px solid #cecece;
  height: 30px;
  border-radius: 5px;
  padding-left: 10px;
  background-color: white;
}

.gh-index-content .gh-search-forms .gh-search-form .gh-search-form-2 span {
  display: block;
  margin-left: 10px;
}

.gh-index-content .gh-search-forms .gh-search-form .gh-search-form-2 textarea {
  border: 1px solid #cecece;
  border-radius: 5px;
  width: 100%;
  height: 150px;
  padding: 10px;
  background-color: white;
}

.gh-index-content .gh-search-forms .gh-search-form .gh-search-form-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gh-index-content .gh-search-forms .gh-search-form .gh-search-form-3 span {
  display: block;
  margin-left: 10px;
  background-color: green;
  color: white;
  border-radius: 5px;
  font-size: 10px;
  padding: 2px;
}

.gh-index-content .gh-search-forms .gh-search-form .gh-search-form-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gh-index-content .gh-search-forms .gh-search-form .gh-search-form-4 input {
  border: 1px solid #cecece;
  height: 30px;
  border-radius: 5px;
  padding-left: 10px;
  background-color: white;
}

.gh-index-content .gh-search-forms .gh-search-form .gh-search-form-4 span {
  display: block;
  margin-left: 10px;
}

.gh-index-content .gh-search-forms .gh-search-form-activehash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  background-color: rgba(197, 207, 243, 0.3);
  border-radius: 10px;
  padding: 10px 10px;
}

.gh-index-content .gh-search-forms .gh-search-form-activehash label {
  display: block;
}

.gh-index-content .gh-search-forms .gh-search-form-activehash select {
  display: block;
  padding-left: 10px;
  border: 1px solid #cecece;
  height: 30px;
  border-radius: 5px;
  background-color: white;
}

.gh-index-content .gh-search-forms .gh-search-form-activehash .gh-search-form-activehash-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gh-index-content .gh-search-forms .gh-search-form-activehash .gh-search-form-activehash-1 span {
  display: block;
  margin-left: 10px;
  background-color: blue;
  color: white;
  border-radius: 5px;
  font-size: 10px;
  padding: 2px;
}

.gh-index-content .gh-search-forms .gh-search-form-activehash .gh-search-form-activehash-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 40px;
  margin: 10px;
  font-size: 14px;
}

.gh-index-content .gh-search-forms .gh-search-form-activehash .gh-search-form-activehash-2 .gh-search-form-activehash-2-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.gh-index-content .gh-search-forms .gh-search-form-activehash .gh-search-form-activehash-2 .gh-search-form-activehash-2-content input[type="checkbox"] {
  display: none;
}

.gh-index-content .gh-search-forms .gh-search-form-activehash .gh-search-form-activehash-2 .gh-search-form-activehash-2-content input[type="checkbox"]:checked + .checkbox::before {
  border-color: #666;
}

.gh-index-content .gh-search-forms .gh-search-form-activehash .gh-search-form-activehash-2 .gh-search-form-activehash-2-content input[type="checkbox"]:checked + .checkbox::after {
  opacity: 1;
  -webkit-transform: rotate(45deg) scale3d(1, 1, 1);
          transform: rotate(45deg) scale3d(1, 1, 1);
}

.gh-index-content .gh-search-forms .gh-search-form-activehash .gh-search-form-activehash-2 .gh-search-form-activehash-2-content .checkbox {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  padding: 5px 30px;
  position: relative;
  width: auto;
}

.gh-index-content .gh-search-forms .gh-search-form-activehash .gh-search-form-activehash-2 .gh-search-form-activehash-2-content .checkbox::before {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  content: '';
  display: block;
  height: 16px;
  width: 16px;
  left: 5px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
}

.gh-index-content .gh-search-forms .gh-search-form-activehash .gh-search-form-activehash-2 .gh-search-form-activehash-2-content .checkbox::after {
  border-right: 6px solid #ff5100;
  border-bottom: 3px solid #ff0202;
  content: '';
  display: block;
  height: 20px;
  left: 7px;
  margin-top: -16px;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(45deg) translate3d(0, 2px, 0) scale3d(0.7, 0.7, 1);
          transform: rotate(45deg) translate3d(0, 2px, 0) scale3d(0.7, 0.7, 1);
  -webkit-transition: opacity .2s ease-in-out, -webkit-transform .2s ease-in-out;
  transition: opacity .2s ease-in-out, -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out, opacity .2s ease-in-out;
  transition: transform .2s ease-in-out, opacity .2s ease-in-out, -webkit-transform .2s ease-in-out;
  width: 9px;
}

.gh-index-content .gh-search-forms .gh-search-form-activehash .gh-search-form-activehash-2 .gh-search-form-activehash-2-content input[type="radio"] {
  display: none;
}

.gh-index-content .gh-search-forms .gh-search-form-activehash .gh-search-form-activehash-2 .gh-search-form-activehash-2-content input[type="radio"]:checked + .radio::before {
  border-color: #666;
}

.gh-index-content .gh-search-forms .gh-search-form-activehash .gh-search-form-activehash-2 .gh-search-form-activehash-2-content input[type="radio"]:checked + .radio::after {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}

.gh-index-content .gh-search-forms .gh-search-form-activehash .gh-search-form-activehash-2 .gh-search-form-activehash-2-content .radio {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  padding: 5px 30px;
  position: relative;
  width: auto;
}

.gh-index-content .gh-search-forms .gh-search-form-activehash .gh-search-form-activehash-2 .gh-search-form-activehash-2-content .radio::before {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  content: '';
  display: block;
  height: 16px;
  left: 5px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
  width: 16px;
}

.gh-index-content .gh-search-forms .gh-search-form-activehash .gh-search-form-activehash-2 .gh-search-form-activehash-2-content .radio::after {
  background: #ff2600;
  border-radius: 50%;
  content: '';
  display: block;
  height: 10px;
  left: 9px;
  margin-top: -5px;
  margin-left: -1px;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: scale3d(0.3, 0.3, 1);
          transform: scale3d(0.3, 0.3, 1);
  -webkit-transition: opacity .2s ease-in-out, -webkit-transform .2s ease-in-out;
  transition: opacity .2s ease-in-out, -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out, opacity .2s ease-in-out;
  transition: transform .2s ease-in-out, opacity .2s ease-in-out, -webkit-transform .2s ease-in-out;
  width: 10px;
}

.gh-index-content .gh-search-forms .gh-search-form-activehash .gh-search-form-activehash-2 .gh-search-form-activehash-2-content label {
  display: block;
  margin-left: 10px;
}

.gh-index-content .gh-search-forms .gh-search-form-submit {
  text-align: center;
}

.gh-index-content .gh-search-forms .gh-search-form-submit input {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 10px #cecece;
  box-shadow: 10px 10px 10px #cecece;
  text-decoration: none;
  color: black;
  border: 1px solid;
  width: 200px;
  margin-bottom: 50px;
}
/*# sourceMappingURL=index.css.map */