.gh-search-content{

  background-color: #dededee6;
  height: 100%;
  padding: 0 10px;
  padding-bottom: 10px;

  .gh-search-result-count{
    color: orange;
    padding: 10px;
    text-align: right;
  }

  .gh-search-results{

    a{
      text-decoration: none;
    }

    .gh-search-result{

      background-color: white;
      border-radius: 5px;
      margin-bottom: 20px;

      .gh-search-result-name{
        padding: 10px;
        border-bottom: 0.5px solid #cecece;
        color: black;
      }
      
      .gh-search-result-content{
        display: flex;
        padding: 15px 15px 0 15px ;

        img{
          width: 100px;
          height: 100px;
        }
        p{
          font-size: 14px;
          color: black;
          padding-left: 10px;
          padding-bottom: 2px;
          font-weight: 300;

          &:nth-child(2){
            color: #f16a6a;
            font-weight: bold;
          }
        }
      }

      .gh-search-result-contact-form{
        display: flex;
        justify-content: space-around;
        padding: 15px 0px;
        
        .gh-search-result-contact-form-1{
          a{
            box-shadow: 3px 3px 5px #a78b90;
            padding: 10px;
            width: 160px;
            border-radius: 5px;
            color: white;
            text-decoration: none;
            font-size: 14px;
            text-align: center;
            background-color: #0979ec;
          }
        }
        
        a.favorite-btn{
          box-shadow: 3px 3px 5px #a78b90;
          padding: 10px;
          width: 160px;
          border-radius: 5px;
          color: white;
          text-decoration: none;
          font-size: 14px;
          text-align: center;
          background-color: orange;

        }
      }
    }
  }
}
