.gh-show-content{

  // GH事業者編集画面
  .gh-show-edit{
    display: flex;
    justify-content: space-around;
    padding: 15px 0px;
    
    a{
      box-shadow: 3px 3px 5px #a78b90;
      padding: 10px;
      width: 120px;
      border-radius: 5px;
      color: white;
      text-decoration: none;
      font-size: 14px;
      text-align: center;
      
      &:nth-child(1){
        background-color: #d6cdbd;
      }

      &:nth-child(2){
        background-color: #6b6863;
      }
    }
  }

  // GH名前
  .gh-show-name{
    padding: 10px;
    text-align: center;
    -webkit-box-shadow: 2px 9px 3px -3px rgba(24, 211, 22, 0.4);
    margin: 0 15%;
  }

  // GH写真
  .gh-show-img{
    
    margin: 20px 0px 0px;

    img{
      width: 100%;
    }
  }

  // 問い合わせ
  .gh-show-contact-form{
    display: flex;
    justify-content: space-around;
    padding: 15px 0px;
    
    a{
      box-shadow: 3px 3px 5px #a78b90;
      padding: 10px;
      width: 170px;
      border-radius: 5px;
      color: white;
      text-decoration: none;
      font-size: 12px;
      text-align: center;
      
      &:nth-child(1){
        background-color: #0979ec;
      }
      
      &:nth-child(2){
        background-color: orange;
      }
    }
  }

  // GH預かり金
  .gh-show-price{
    padding: 0px 10px;
    padding-bottom: 10px;

    p{
      &:nth-child(1){
        color: #FF5C68;
        font-size: 20px;
        font-weight: bold;
        -webkit-text-stroke: 1px  #FF5C68;
      }

      &:nth-child(2){
        font-size: 10px;
        ;
      }
    }
  }

  // 定員
  .gh-show-capacity{
    text-align: center;
    padding: 10px;
    background-color: beige;
  }

  // 他情報
  .gh-show-infos{
    padding: 10px 0px;
    
    .gh-show-info{
      display: flex;
      justify-content: left;
      margin: 20px;

      p{
        &:nth-child(1){
          background-color: #cecece;
          width: 65px;
          text-align: center;
          border-radius: 5px;
        }

        &:nth-child(2){
          margin-left: 10px;
        }
      }
    }
  }  

  // 施設説明
  .gh-show-description{
    background-color: #dfffe0;
    margin: 0 10px;
    margin-bottom: 50px;
    border-radius: 10px;
    padding: 15px;

    p{
      &:nth-child(1){
        text-align: center;
       
      }
    }
  }
}