$service-width: 140px;
$service-height: 140px;

.content{
  width: 100vw;
  
  .header{
    height: 45px;
    display: flex;
  }

}

// ★★検索フォーム全体
.search-content{
  width: 100%;
  
  // 検索欄と送信を囲むの大きな枠
  .search-form{
    background-color: rgba(255, 255, 255, 0.8);
    width: 90%;
    max-width: 400px;
    height: 120px;
    margin: 0 auto;
    margin-top: calc((350px - 189px) / 4);
    margin-bottom: calc((350px - 189px) / 4); 
  }
  
  // 検索フォームの大きな画像
  .search-img{
    height: 150px;
  }
  
  // 検索フォームの大きな画像をぼかすため
  figure {
    width: 100%;
    position: relative;
  }
  
  figure img {
    width: 100%;
    vertical-align: top;
  }
  
  figure figcaption {
    font-size: 18px;
    color: #ffffff;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .decorator {
    background-color: rgba(0, 0, 0, 0.3);
  }

  
}
// ★★事業者はこちら
.business{
  text-align: center;
  
  span{
    font-size: 18px;
    padding: 10px;
    display: block;
    background-color: #eaeaea63;
    color: #b19e11;
    text-decoration: none;
  }
  
  a{
    text-decoration: none;
  }
}


// ★★福祉サービス一覧
.service-content{
  text-align: center;
  
  // 福祉サービスのタイトル
  .service-titile{
    margin: 30px 70px;
    font-size: 18px;
    color: #a55fa2;
    border-bottom: 1px solid;
  }
  
  // 福祉サービスの中身
  .services {
    width: 100%;
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
  
    .service-lists{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      
      .service-list{
        width: $service-width;
        height: $service-height;
        margin: 5px;
        margin-bottom: 20px;
        position: relative;
        border-radius: 30px;
        box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
        
        a{
          display: block;
          position: absolute;
          top: 0px;
          left: 0px;
          height: $service-height;
          width: $service-width;
          text-align: center;
          border-radius: 30px;
          cursor: pointer;
          
          img{
            width: $service-width;
            height: $service-height;
            display: block;
            border-radius: 30px;
          }
    
          span{
            color: black;
            display: block;
            position: absolute;
            top: calc(#{$service-height} - 23px);
            left: 0px;
            background-color: white;
            border-radius: 0 0 30px 30px;
            width: 100%;
          }
        }
      }
    }
  }
}

.chat-bot{
  width: 60px;
  height: 60px;
  background-color: #caef35;
  position: fixed;
  top: 85%;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  text-align: center;

  a{
    text-decoration: none;
  }

  span{
    display: block;
    color: black;

    &:nth-child(1){
    }
    &:nth-child(2){
      font-size: 10px;
    }
  }
}