.content {
  width: 100vw;
}

.content .header {
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-content {
  width: 100%;
}

.search-content .search-form {
  background-color: rgba(255, 255, 255, 0.8);
  width: 90%;
  max-width: 400px;
  height: 120px;
  margin: 0 auto;
  margin-top: calc((350px - 189px) / 4);
  margin-bottom: calc((350px - 189px) / 4);
}

.search-content .search-img {
  height: 150px;
}

.search-content figure {
  width: 100%;
  position: relative;
}

.search-content figure img {
  width: 100%;
  vertical-align: top;
}

.search-content figure figcaption {
  font-size: 18px;
  color: #ffffff;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.search-content .decorator {
  background-color: rgba(0, 0, 0, 0.3);
}

.business {
  text-align: center;
}

.business span {
  font-size: 18px;
  padding: 10px;
  display: block;
  background-color: #eaeaea63;
  color: #b19e11;
  text-decoration: none;
}

.business a {
  text-decoration: none;
}

.service-content {
  text-align: center;
}

.service-content .service-titile {
  margin: 30px 70px;
  font-size: 18px;
  color: #a55fa2;
  border-bottom: 1px solid;
}

.service-content .services {
  width: 100%;
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
}

.service-content .services .service-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.service-content .services .service-lists .service-list {
  width: 140px;
  height: 140px;
  margin: 5px;
  margin-bottom: 20px;
  position: relative;
  border-radius: 30px;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.service-content .services .service-lists .service-list a {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 140px;
  width: 140px;
  text-align: center;
  border-radius: 30px;
  cursor: pointer;
}

.service-content .services .service-lists .service-list a img {
  width: 140px;
  height: 140px;
  display: block;
  border-radius: 30px;
}

.service-content .services .service-lists .service-list a span {
  color: black;
  display: block;
  position: absolute;
  top: calc(140px - 23px);
  left: 0px;
  background-color: white;
  border-radius: 0 0 30px 30px;
  width: 100%;
}

.chat-bot {
  width: 60px;
  height: 60px;
  background-color: #caef35;
  position: fixed;
  top: 700px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  text-align: center;
}

.chat-bot a {
  text-decoration: none;
}

.chat-bot span {
  display: block;
  color: black;
}

.chat-bot span:nth-child(2) {
  font-size: 10px;
}
/*# sourceMappingURL=index.css.map */