.content{
  width: 100vw;
  
  .header{
    height: 45px;
    display: flex;
  }

}

// ★★検索フォーム全体
.search-content{
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  // 画像の中にある文字
  p{
    padding: calc((350px - 189px) / 4) 0px;
    font-size: 0.3em;
  }
  
  // 検索欄と送信を囲むの大きな枠
  .search-form{
    background-color: rgba(255, 255, 255, 0.8);
    width: 90%;
    height: 120px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: calc((350px - 189px) / 4);
    margin-bottom: calc((350px - 189px) / 4);
    
    // 検索欄
    .search-text{
      border: 1px solid #ffffff;
      background-color: white;
      font-size: 17px;
      width: 80%;
      height: 40px;
      padding-left: 20px;
      margin: 0 auto;
      color: black;
    }
    
    // 検索送信ボタン
    .search-submit{
      background-color: #21c1f7;
      font-size: 17px;
      width: 80%;
      height: 40px;
      margin: 0 auto;
    }
  }

  // 検索フォームの大きな画像
  .search-img{
    height: 350px;
  }
  
  // 検索フォームの大きな画像をぼかすため
  figure {
    width: 100%;
    position: relative;
  }
  
  figure img {
    width: 100%;
    vertical-align: top;
  }
  
  figure figcaption {
    font-size: 60px;
    color: #ffffff;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;

  }
  
  .decorator {
    background-color: rgba(0, 0, 0, 0.3);
  }

  
}
// ★★事業者はこちら
.business{
  text-align: center;
  
  span{
    font-size: 18px;
    padding: 10px;
    display: block;
    background-color: #eaeaea63;
    color: #b19e11;
    text-decoration: none;
  }
  
  a{
    text-decoration: none;
  }
}

// ★★福祉サービス一覧
.service-content{
  text-align: center;

  .service-titile{
    padding: 10px;
  }

  .services{
    
    ol.service-lists{
      list-style: none;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      li{
        margin-bottom: 20px;
      }
    }

    a.service-list{
      display: inline-block;
      max-width: 180px;
      text-align: center;
      background-color: rgba(222,29,91, 0.25);
      color: #a06161;
      text-decoration: none;
      width: 45vW;
      line-height: 45px;
      border-radius: 20px;
      border-bottom: 5px solid rgba(206, 181, 181, 0.5);

      &:active{
        transform: translateY(4px);
        border-bottom: none;
      }

    }
  }
}