.footer-wrapper{
  background-color: #c7c4c4;
  padding: 0 20px;

  // フッターのアイコンたち
  .footer-icons{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ffffff66;

    // フッターのアイコン 会社ロゴ
    img{
      width: 150px;
    }
    // フッターのアイコン SNSロゴ
    
    .sns-icons{
      display: flex;
      
      a{
        text-decoration: none;
      }
      .fab{
        font-size: 25px;
        padding-left: 10px;
        display: flex;
  
        &.fa-google{
          color: green;
        }
        &.fa-twitter{
          color: #4ab3d6;
        }
        &.fa-instagram{
          color: purple;
        }
      }
    }

  }
  // 各種問い合わせ
  .footer-menu{
    
    .menu-group{
      border-bottom: 1px solid #ffffff66;
      line-height: 50px;
      color: #5d606f;
    }
    button{
      width: 100%;
      text-align: left;
      outline: none;
    }
  }
  // カテゴリー検索
  .footer-menu{

    .menu{
      label{
        display: block;
        margin: 0 0 4px 0;
        padding : 15px;
        line-height: 1;
        color :#fff;
        background : green;
        cursor :pointer;
      }
  
      input {
        display: none;
      }

      ul{
        margin: 0;
        padding: 0;
        background :#f4f4f4;
        list-style: none;

        li{
          height: 0;
          overflow: hidden;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -ms-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s;
        }
      }
      #type1:checked ~ #links1 li,
      #type2:checked ~ #links2 li,
      #type3:checked ~ #links3 li,
      #type4:checked ~ #links4 li{
        height: 54px;
        opacity: 1;
      }
    }




    // .menu-group{
      
    //   a{
    //     display: flex;
    //     justify-content: space-between;
    //     text-decoration: none;
    //     color: black;
    //     transition: 0.3s;
  
    //     &:hover{
    //       opacity: 0.1;
    //     }

    //     &:after{
    //       content: ">";
    //       transform: rotate(90deg);
    //     }

    //     &.active{

    //       &:after{
    //         transform: rotate(-90deg);
    //       }

    //     }
    //   }
      
    //   ul{
    //     display: none;
        
    //     li{
    //       list-style: none; 

    //       a{
    //         background-color: #ffffff7a;
    //         transition: 0.5s;

    //         &:hover{
    //           opacity: 0.1;
    //         }

    //         &:after{
    //           content: "";
    //         }
    //       }
    //     }
        
    //     &.active{
    //       display: block;
    //     }
        
    //   }
    // }
  }
  
  
  // 会社名
  .footer-company{
    line-height: 50px;
    color: white;
    font-size: 15px;
    font-weight: 100;
    text-align: right;
  }
}

