<div id="follow_form">
  <% if current_user.following? @user %>
    <%= link_to "UnFollow", {controller: :users,action: :unfollow,user_id: @user.id}, method: :put %>
  <% else %>
    <%= link_to "Follow", {controller: :users,action: :follow,user_id: @user.id}, method: :put %>
  <% end %>
</div>