<%#ヘッダー%>
<div class="registration-header">
  <div class="registration-header-main">
    <div class="back-to-home">
      <%= link_to root_path do %>
      <i class="fas fa-arrow-circle-left"></i>
      <% end %>
    </div>
    <div class="registration-header-title">
      <p>申請フォーム</p>
    </div>
    <div class="create-room">
      <%= link_to "#" do %>
      <i class="fas fa-comments"></i>
      <% end %>
    </div>
  </div>
</div>
<%#//ヘッダー%>

<div class="request-content">

  <div class="request-service-admin-form">
    <p>事業所掲載のリクエストはこちら</p>
    <p>※事業所登録後、<br>ブラウザ上に表示させるためにはこの手続が必要です</p>
    <%= link_to "https://forms.gle/NEFXWxXNhK36UVXa7" do %>
    事業所掲載リクエストフォーム
    <% end %>
  </div>

</div>